@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

body {
    margin: 0;
    background-color: ghostwhite;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.logo {
    inline-size: 50px;
	block-size: 50px;
	
}

.container {
    list-style: none;
    display: flex;
    background-color: black;
    font-size: 40px;

}
.items {
padding-right: 30px;
padding-block-start: 5px;

}
.items a {
 color: cadetblue;
  text-decoration: none;

}
.items a:hover {
 color:aquamarine; 
}

.main-content {
    margin-block-start: 20px;
}

.video-container {
    margin-block-start: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black
}
